@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: black;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 13px 200px;
    background: #4a98f7;  
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.nav, .nav .nav-links{
    display: flex;
    align-items: center;
}


.nav {
    justify-content: space-between;
}

a{
    color: #fff;
    text-decoration: none ;
}


.nav .logo{
    font-size: 30px;
    font-weight: 500;
}

.nav .nav-links{
    column-gap: 40px;
    list-style: none;
}



