@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
	width: 100%;
	min-height: 100vh;
	background-color: #f7f7f7;
	
}
.homeSection{
	max-width: 1500px;
	width: 100%;
	min-height: 100vh;
}
.homeSection .navBar{
	width: 100%;
	height: 70px;
	padding: 0px 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.homeSection.active .navBar{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #f7f7f7;
	box-shadow: 0px 2px 5px 0px #ccc;
	z-index: 100;
	animation: navbarAnimation 0.4s linear;
}
@keyframes navbarAnimation{
	0%{
		transform: translateY(-100px);
	}
	100%{
		transform: translateY(0px);
	}
}
.navBar .logo{
	font-size: 28px;
	color: crimson;
}

.navBar ul.navList{
	list-style: none;
	display: flex;
}
.navBar ul.navList li{
	padding-left: 40px;
}
.navBar ul.navList li a{
	display: inline-block;
	text-decoration: none;
	color: #333;
	transition: 0.4s;
}
.navBar ul.navList li a:hover{
	color: crimson;
}
.homeSection .banner{
	position: relative;
	width: 100%;
	min-height: calc(100vh - 70px);
	padding: 20px 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.homeSection.active .banner{
	top: 70px;
}
.banner .info{
	flex-basis: 50%;
}
.banner .info h3{
	font-size: 18px;
	font-weight: 400;
	color: #222;
}
.banner .info h1{
    text-align: center;
	font-size: 35px;
	font-weight: 600;
	color: #222;
	text-transform: capitalize;
}
.banner .info h2{
	font-size: 24px;
	font-weight: 400;
	color: #555;
	text-transform: capitalize;
	padding: 5px 0px 20px 0px;
}
.banner .info h2 span{
	color: crimson;
}
.banner .info p{
	line-height: 1.4;
	color: #666;
}
.banner .info .socialMedia{
	margin-top: 40px;
}
.info .socialMedia a{
	display: inline-block;
	margin-right: 20px;
	text-decoration: none;
}
.info .socialMedia a i{
	font-size: 20px;
	color: #555;
	transition: 0.4s;
}
.info .socialMedia a:hover i{
	color: crimson;
	transform: scale(1.1) translateY(-2px);
}
.banner .image{
	flex-basis: 50%;
	text-align: right;
}
.banner .image img{
	max-width: 00px;
	min-width: 350px;
	width: 100%;
}

.skills{
	height: 100vh;
}


.resume{
	height: 100vh;
}

.project{
	height: 100vh;
}
.blog{
	height: 100vh;
}










/* Qualification */


section .qualification{
    justify-content: space-between;
    display: flex;
    align-items: center ;
    
}

.qualification .QualificationLogo{
	font-size: 35px;
	font-weight: 600;
    color: #222;
    text-align: center; 
	
    
}

.qualification{
    padding: 8rem 0;
    background-color: #f7f7f7;
    height: 100vh;
}

.container{
    width: 100%;
    padding: 35px 10%;
}

main.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.col header.title{
    color: #2967ca;
    padding: 0px 0px 20px 30px;
}

.col .contents{
    padding: 0px 30px;
    border-left: 2px solid #bababa;
}

.col .contents .box{
    position: relative;
    padding: 20px;
    border: 2px solid #eaeaea;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
    border-radius: 15px;
}
.col .contents .box span{
    font-size: 10px;

}
.col .contents .box h4 i{
    margin-right: 5px;
}

.col .contents .box h3 i{
    margin-right: 7px;
}

.col .contents .box:hover{
    box-shadow: 0 3px 12px 0px #ccc;
    border :1px solid transparent;
}

.col .contents .box::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: rgb(219, 48, 83);
    border: 2px solid white;

}

.box h4{
    position: relative;
    color: rgb(219, 48, 83);
}

.box h3{
    font-size: 19px;
    padding:  10px 0 6px;
    color: #444
}

.box p{
    line-height: 1.2;
    color: #666;
    font-size: 17px;
}

/* Qualification CSS style end here*/




/* Contact Start */

.contact .ContactLogo{
	font-size: 35px;
	font-weight: 600;
    color: #222;
	margin-bottom: 10px;
    text-align: center; 
	   
}

.contact{
    padding: 8rem 0;
    background-color: #f7f7f7;
    height: 100vh;
}
.container1{
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  background: white;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container1 .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container1 .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side .details{
  margin: 24px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #2967ca;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.container .content .right-side{
  width: 75%;
  margin-left: px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #2967ca;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 7px;
  padding: 0 25px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="submit"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #217be2;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="submit"]:hover{
  background:#2967ca;
}

.right-side .button input[type="reset"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #217be2;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="reset"]:hover{
  background:#2967ca;
}
@media (max-width: 950px) {
  .container1{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container1 .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container1{
    margin: 40px 0;
    height: 100%;
  }
  .container1 .content{
    flex-direction: column-reverse;
  }
 .container1 .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container1 .content .left-side::before{
   display: none;
 }
 .container1 .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}


 /*Contact End */